.highlight table { border-spacing: 0; border: none; margin-bottom: 0; }
.highlight td { padding: 0; border: none; }
.highlight pre { margin: 0; }

code.language-plaintext {
    font-size: .9em;
    color: #0F6;
    word-wrap: break-word;
    background: #333;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    margin-top:0.05em;
    margin-bottom: 0.05em;
}

/* TODO: not related to rogue, consider relocating */
blockquote > p:first-child::before {
  content: "💡 ";
  font-style: normal; /* Keeps the emoji upright even if the blockquote text is italicized */
  margin-right: 0.5rem; /* Adds a clean space after the emoji */
}